.Chat {
    height: 100vh;
    text-align: center;
    overflow: auto;
    background-image: linear-gradient(#494949, #494949, #494949,#252525);
    padding-left: 30px;
    padding-right: 30px;
}

.left.text {
    min-width: 100px;
    border: none;
    width: min-content;
    background: #9c9c9c;

}

.left {
    /* border: purple solid 1px; */
    /* position: relative; */
    /* width: 100%; */
    text-align: start;
    /* word-wrap: break-word; */
    /* -ms-word-break: break-all */
}

.right.text {
    background: #790d0d;
    color: #9c9c9c;
    /* min-width: 50vw; */
    border: none;
    text-align: end;
    /* position: absolute; */
    /* right: 0; */
    width: min-content ;
    /* background: #725ac1; */
}
.right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* border: red solid 1px; */
    /* width: 100%; */
    /* text-align: start; */
    /* position: relative; */
}
/* .container-container { */
    /* height: 400px; */
    /* overflow: auto; */
    /* padding-bottom: 50px; */
    /* word-wrap: break-word; */

/* } */
.message-container {
    overflow: auto;
    display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
    /* word-wrap: break-word; */
	justify-content: flex-end;
	align-items: stretch;
    align-content: stretch;
    margin-bottom: 150px;
    margin-top: 75px;
    /* max-height: 80%; */
}
.left.text,.right.text {
    min-height: 80px;
    width: inherit;
    max-width: 35vw;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* text-overflow: initial; */
    word-wrap: break-word;
    /* overflow-wrap: break-word; */
    /* white-space: pre; */
    margin: 1px;
}
.message-text {
    width: 100%;
    overflow: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.chat-form {
    font-family: sans-serif;
    height: 110px;
    min-height: 100px;
}

.chat-form:focus {
    border: 2px solid rgb(121,13,13);
}
.chat-input-container {
    display:flex;
    justify-content: flex-start;
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 100%;
}
.chat-send {
    background-color: #252525;
    border:none;
    color: #9C9C9C;
    border-radius: 5px;
    border: 1.5px solid rgba(0, 0, 0, 0);
    margin-left: 1px;
}

.chat-send:hover {
    border: 1.5px solid rgb(121,13,13);
    background-color: #131313;
}
.bottom-div {
    position: absolute;
    bottom: 0;
}

.request-info {
    min-width: 100px;
    /* border: none; */
    width: min-content;
    background: #9c9c9c;
    min-height: 80px;
    width: inherit;
    /* max-width: 35vw; */
    width: calc(100% - 30px);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    margin-top: 75px;
    margin-left: 1px;
    /* border: green solid 1px; */
}