.Chat {
    height: 90vh;
    text-align: center;
}

.left.text {
    background: skyblue;
    min-width: 100px;
    border: none;
    width: min-content 
}

.left {
    /* border: purple solid 1px; */
    /* position: relative; */
    /* width: 100%; */
    text-align: start;
    /* word-wrap: break-word; */
    /* -ms-word-break: break-all */
}

.right.text {
    background: rgba(255, 166, 0, 0.678);
    min-width: 50vw;
    border: none;
    text-align: end;
    /* position: absolute; */
    /* right: 0; */
    width: min-content 
}
.right {
    display: flex;
    justify-content: flex-end;
    /* border: red solid 1px; */
    /* width: 100%; */
    /* text-align: start; */
    /* position: relative; */
}
/* .container-container { */
    /* height: 400px; */
    /* overflow: auto; */
    /* padding-bottom: 50px; */
    /* word-wrap: break-word; */

/* } */
.message-container {
    overflow: auto;
    display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
    /* word-wrap: break-word; */
	justify-content: flex-end;
	align-items: stretch;
    align-content: stretch;
}
.left.text,.right.text {
    min-height: 80px;
    width: inherit;
    max-width: 50vw;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* text-overflow: initial; */
    word-wrap: break-word;
    /* overflow-wrap: break-word; */
    /* white-space: pre; */
}
.message-text {
    width: 100%;
    overflow: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.chat-form {
    font-family: sans-serif;
    height: 110px;
    min-height: 100px;
}
.chat-input-container {
    display:flex;
    justify-content: flex-start;
}