.l-learner {
    text-decoration: underline;
    font-size: 30px;
  }
  .l-mentor {
    opacity: .5;
    cursor: pointer;
  }
  .l-mentor:hover {
    color: rgb(31, 165, 26);
    font-size: 25px;
    transition: all 0.2s ease-in-out;
  }
  .m-learner {
    opacity: .5;
    cursor: pointer;
  }
  .m-learner:hover {
    color: rgb(31, 165, 26);
    font-size: 25px;
    transition: all 0.2s ease-in-out;
  }
  .m-mentor {
    text-decoration: underline;
    font-size: 30px;
  }
  