.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #9C9C9C;
    align-items: center;
    /* height: 11vh; */
    width: 47vw;
    font-size: 70px;
    font-weight: 200;
    margin-bottom: -100px;
    border-bottom: 1px solid gray;
}
.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    align-items: center;
    /* background: #494949; */
    background-image: linear-gradient(#494949, #494949, #494949,#252525);
}
.mentor-check-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 8px;
    outline: none;
    font-size: 45px;
    font-weight: 100;
    background: #252525;
    cursor: pointer;
    border: none;
    color: #9C9C9C;
}
.button-wrapper {
    width: 65vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px solid gray; */
}
.grow {
    transition: all 0.2s ease-in-out;
  }
  .grow:hover {
    transform: scale(1.1);
    border: 2px solid rgb(121, 13, 13);
  }
