.request-container {
    height: 100px;
    width: 50vw;
    /* border: 1px solid gray; */
    overflow: hidden;
    text-overflow: ellipsis;
}
div.request-container:hover {
    overflow: visible;
  }
.request-wrapper  {
    display: flex;
    justify-content: center;
    align-items: center;
}